.content{
    width: 1200px;
    }
.example-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    }
aside{
        width: 200px !important;
        padding-left :30px !important;
        }
.VPNavBar.has-sidebar .content{
    padding-right :10px !important;
    padding-left :220px !important;
    }
.container .title{
        width: 180px !important;
         padding-left :10px !important;
    }

.VPContent.has-sidebar{
     padding-right :10px !important;
    padding-left :220px !important;
    }

.VPDoc.has-aside .content-container{
    max-width: none !important;
    }

.example-box .language-html{
    flex: 1;
    margin :0 0 !important;
    }

.example-box  .iframeCon-box{
    border: 1px #cccccc solid !important;
    border-radius: 10px !important;
    }
