@font-face {
  font-family: "custom-icon";
  src: url("data:application/x-font-woff2;charset=utf-8;base64,xxxxxxxx")
    format("woff2");
}

.custom-icon {
  /* 引用上面声明的"custom-icon"字体 */
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.r-camera-fill:before {
  content: "\e678";
}

.r-camera:before {
  content: "\e679";
}

.r-round-check:before {
  content: "\e67a";
}

.r-round-check-fill:before {
  content: "\e67b";
}

.r-attention-fill:before {
  content: "\e67c";
}

.r-attention:before {
  content: "\e67d";
}

.r-attention-forbid-fill:before {
  content: "\e67e";
}

.r-attention-forbid:before {
  content: "\e67f";
}

.r-video-light-fill:before {
  content: "\e680";
}

.r-video-light:before {
  content: "\e681";
}

.r-triangle-down-fill:before {
  content: "\e682";
}

.r-triangle-up-fill:before {
  content: "\e683";
}

.r-notification-fill:before {
  content: "\e684";
}

.r-notification:before {
  content: "\e685";
}

.r-like:before {
  content: "\e686";
}

.r-like-fill:before {
  content: "\e687";
}

.r-move:before {
  content: "\e688";
}

.r-add:before {
  content: "\e689";
}

.r-fold:before {
  content: "\e68a";
}

.r-back:before {
  content: "\e68b";
}

.r-close:before {
  content: "\e68c";
}

.r-list-right:before {
  content: "\e68d";
}

.r-friend-add:before {
  content: "\e662";
}

.r-friend-add-flii:before {
  content: "\e663";
}

.r-my-fill:before {
  content: "\e664";
}

.r-my:before {
  content: "\e665";
}

.r-warn:before {
  content: "\e666";
}

.r-warn-fill:before {
  content: "\e667";
}

.r-round-right-fill:before {
  content: "\e668";
}

.r-round-right:before {
  content: "\e669";
}

.r-info:before {
  content: "\e66a";
}

.r-info-fill:before {
  content: "\e66b";
}

.r-question-fill:before {
  content: "\e66c";
}

.r-question:before {
  content: "\e66d";
}

.r-time-fill:before {
  content: "\e66e";
}

.r-time:before {
  content: "\e66f";
}

.r-appreciate-light-fill:before {
  content: "\e670";
}

.r-appreciate-light:before {
  content: "\e671";
}

.r-round-transfer-fill:before {
  content: "\e672";
}

.r-round-transfer:before {
  content: "\e673";
}

.r-location:before {
  content: "\e674";
}

.r-location-fill:before {
  content: "\e675";
}

.r-more-done:before {
  content: "\e676";
}

.r-more:before {
  content: "\e677";
}
